{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">Contact</h1>

            <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ex laborum maiores nemo perferendis porro provident sequi sint suscipit, veniam.</p>

        </section>

    </main>

{% endblock %}
