{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">Contact</h1>

            <p>
                Thank you for your interest in joining the team at MasterCraft Solutions! We’re always on the lookout for talented and passionate professionals in carpentry, engineering, and technical services to help us build and shape the future.
            </p>

            <p>
                If you're excited about the possibility of working with us, please reach out. You can contact us for more information about current open positions or submit your application directly by filling out the form below. Our recruitment team will get back to you as soon as possible.
            </p>

            <p>
                Let’s build something extraordinary together.
            </p>

            <p>
                Email: ...<br />
                Phone: ...<br />
                Address: ...
            </p>

        </section>

    </main>

{% endblock %}
