{% extends 'base.html.twig' %}

{% block title %}Create new user{% endblock %}

{% block body %}

    <header class="header mb-2">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            {{ include ('security/_form.html.twig') }}

        </section>

    </main>

{% endblock %}
