{% extends 'base.html.twig' %}

{% block title %}Hello FeatureController!{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>


    <main class="main">

        <section class="section">

            <h1 class="heading heading--h1">Create New Feature</h1>

            {{ include('feature/_form.html.twig') }}

        </section>

    </main>

{% endblock %}
