*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #323232;
    --color-main-light: #f1f1f1;
    --color-main-accent: #d3890c;
    --color-main-acent-hover: #604103;
    --color-secondary-accent: #1d5add;
    --color-secondary-acent-hover: #031232;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.text-align-center {
    text-align: center;
}

.container-layout {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 8rem);
}

.header,
.main,
.footer {
    grid-column: 1 / -1;

    @media (min-width: 680px) {
        grid-column: 2 / -2;
    }

}

.header__image {

    img {
        height: 14rem;
        width: 100%;
        object-fit: cover;
    }

}

.footer {
    padding: 1rem;
    border-radius: 12px;
}

.navigation {
    align-items: center;
    margin-bottom: 1.8rem;

    ul {
        @media (max-width: 680px) {
            padding-right: 2rem;
        }
    }



    .navigation__logo {
        width: 140px;
        background-color: #060660;
    }
}

.d-inline-block {
    display: inline-block;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.features {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.feature {
    background-color: rgba(144, 144, 239, 0.09);
    padding: 6px 24px;
    border-radius: 8px;
}

.job {
    display: flex;
    flex-direction: column;
    transition: all .2s;
    gap: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

    @media (min-width: 680px) {
        flex-direction: row;
        padding: 2.2rem 3.8rem;
    }

    .job__content {
        flex: 2;

        .job__link {
            display: inline-block;
            margin-bottom: 1rem;
        }
    }

    .job__image {
        flex: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }

}

.job:hover {
    transform: scale(1.01);
}

.download {
    display: inline-block;
}

.table {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.delete {
    padding-left: 1rem;
    display: inline-block;
}

.btn,
button.btn,
a[role=button] {
    font-size: .8rem;
}

.pagination {
    text-align: center;

    .first,
    .last {
        display: none;
    }
}

.application-status {
    background-color: grey;
    color: white;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: .8rem;
}

.application-status--invited {
    background-color: orange;
}

.application-status--approved {
    background-color: darkgreen;
}