*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #323232;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.container {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header,
.main {
    grid-column: -2 / 2;
}

.header__image {

    margin-bottom: 2rem;

    img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }

}

.navigation {
    grid-column: -2 / 2;

    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .navigation__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        flex: 1;
    }


    .navigation__logo {
        width: 60px;
        height: 60px;
        background-color: green;
    }

}

.jobs {

    display: flex;
    flex-direction: column;
    row-gap: 1rem;


    .job {
        border: 1px solid black;
        padding: 1rem 2.2rem;
        border-radius: 8px;

        .link {
            margin-bottom: 1rem;
        }
    }

}

.features {

    .feature {
        background-color: #d8d8d8;
        padding: 4px 12px;
        border-radius: 8px;
    }

}

.table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        border: 1px solid black;
    }

    .delete {
        display: inline-block;
    }
}

.form {

    #feature,
    #job {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        div {
            display: flex;
            row-gap: 2rem;

            label {
                margin-right: 1rem;
            }

            input[type="text"],
            textarea {
                padding: 4px 12px;
                width: 100%;
            }

            textarea {
                height: 10rem;
            }
        }
    }

    #job {

        #job_features {

            label {
                margin-right: 1rem;
                margin-left: 4px;
            }

        }
    }

}

.link {
    display: inline-blocK;
    text-decoration: none;
    color: var(--color-main);
}