*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1e1e1e;
    --main-color-light: #e4e4e4;
    --main-background-accent: #5a0aa8;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    color: var(--main-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main {
    margin-bottom: 4rem;
    grid-column: 2 / -2;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.navigation__logo {
    height: 60px;
    width: 60px;
    background-color: var(--main-background-accent);
}

.navigation__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    column-gap: 4rem;
    flex: 1;
}

.navigation__item:hover {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 12px;
}

.jobs {
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem
}

.job-teaser {
    border: 1px solid #bdbdbd;
    padding: 2rem 3.2rem;
    border-radius: 16px;
    transition: transform .2s ease-in-out;
}

.job-teaser:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 4px #bdbdbd;
}

.job-teaser__description {
    margin-bottom: 2.2rem;
}

.job-teaser__button {
    padding: 1rem 2rem;
    border-radius: 18px;
    box-shadow: 2px 2px 4px #6e6e6e;
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
    margin-bottom: 1.8rem;
}

.job-teaser__features {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    row-gap: 1rem;
}

.job-teaser__feature {
    font-size: .8rem;
    padding: .4rem 1rem;
    background-color: var(--main-background-accent);
    border-radius: 16px;
    color: var(--main-color-light)
}

.header {
    grid-column: 2 / -2;
    margin-top: 4rem;
}

.header__image {
    margin-bottom: 2rem;

    img {
        width: 100%;
        max-height: 40vh;
        object-fit: cover;
    }

}

@media (min-width: 680px) {

    .header {
        margin-top: 2rem;
    }

    .header__image {

        img {
            max-height: 30vh;
        }
    }
}