.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color-light);
    padding: .8rem 2.2rem;
    border-radius: 12px;
}

.btn:hover,
.btn:active {
    box-shadow: 2px 2px 6px #535353;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    row-gap: .6rem;
    flex-direction: column;


    .btn {
        align-self: flex-start;
    }

    @media (min-width: 680px) {
        flex-direction: row;
    }
}

.btn__apply {
    background-color: var(--main-background-accent);
}

.btn__primary {
    border: 1px solid var(--main-color-light);
    color: var(--main-color);
}