{% extends 'base.email.html.twig' %}

{% block title %}
    {{ title|default('Message Job Platform') }}
{% endblock %}

{% block body %}

    <p>Hello <strong>{{ application.applicant.firstName }}</strong>,</p>

    <p>
        {{ responseMessage }}
    </p>

{% endblock %}