{# Email sent to applicant after application #}

{% extends 'base.email.html.twig' %}

{% block title %}
    {{ title|default('E-Mail Job Platform') }}
{% endblock %}

{% block body %}

    <h1>Thank you for your application!</h1>

    <p>Hello <strong>{{ application.applicant.firstName }}</strong>,</p>

    <p>
        We’re excited to confirm your application for the position of <strong>{{ job.title }}</strong>.
    </p>

{% endblock %}