<footer class="footer">

    <nav class="navigation">
        <ul>

            <li>
                <a class="link" href="{{ path('app_index') }}">
                    Data Protection
                </a>
            </li>

            <li>
                <a class="link" href="{{ path('app_index') }}">
                    Imprint
                </a>
            </li>

            {% if not app.user %}

                <li>
                    <a class="link" href="{{ path('app_login') }}">
                        Login
                    </a>
                </li>

            {% endif %}

        </ul>
    </nav>

</footer>